
@import "ember-bootstrap/bootstrap";

/**
 * Content Area
 */

.body {
  padding: 15px;
  margin: 20px;
}

/**
 * Similar to Jumbotron
 */

.jumbo {
  padding: 50px;
  background: #f6f6f6;
}

.jumbo:hover {
  background-color: #f3f3f3;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

.results li {
  list-style: none;
  padding: 10px 15px;
}
.clothing-item-link .pointer {
  float: right;
  display: none;
}

.list-filter input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  display: block;
}

.clothingItem {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 15px 50px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clothingItem:hover {
  background-color: #f3f3f3;
}

.clothingItem img {
  height: 150px;
  float: left;
  padding-right: 45px;
  border-radius: 5px;
}

.clothingItem a.image.wide {
  flex: 100%;
  flex-grow: 3;
  max-width: 100%;
  position: relative;
  z-index: 999;
}

.clothingItem .wide img {
  height: initial;
  width: 100%;
  margin-bottom: 30px;
}

.clothingItem .wide small {
  display: none;
}

.clothingItem a.image {
  cursor: pointer;
  margin: auto;
  flex: 25%;
  flex-grow:1;
}

.clothingItem small {
  float: left;
  display: block;
  text-align: center;
  width: 136px;
}

.clothingItem h3 {
  flex: 100%;
  flex-grow: 2;
}

.clothingItem h3 a {
  display: inline;
}

.clothingItem .details {
  flex-grow: 2;
  flex: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.clothingItem .detail {
  flex: 50%;
  font-weight: 300;
  font-style: italic;
}

.clothingItem .detail span {
  font-weight: 400;
  font-style: normal;
}
