<div class="jumbo">
  <h2 class="title">{{model.name}} information</h2>
  <div class="right detail-section">
      <div class="detail">
        <strong>Picture:</strong> {{model.city}}
      </div>
      <div class="detail">
        <strong>Description:</strong>
      </div>
      <p>{{model.description}}</p>
  </div>
  <img src="{{model.image}}" class="clothing-item-pic">
</div>
