
<ClothingItemListFilter @filter={{action "filterByName"}} as |filteredResults|>
  <ul class="results">
    {{#each filteredResults as |clothingItem|}}
      <li><ClothingItemDisplayBox @clothingItem={{clothingItem}} /></li>
    {{/each}}
  </ul>
</ClothingItemListFilter>
