<div class="jumbo">
  <h2>Who is Judith Sizemore</h2>
  <p>
    A small demonstration of a concept for sizing clothing by data.  (also me learning Ember)
  </p>
  {{#link-to "index" class="button"}}
    Get Started!
  {{/link-to}}
</div>
